# Python core
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Distribution / Packaging
dist/
build/
*.egg-info/

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# Logs and Databases
*.log
*.sqlite
